NODE_ENV=
PORT=
HOST=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
JWT_SECRET=

GEMINI_API_KEY=
GEMINI_MODEL=

GROQ_API_KEY=
GROQ_BASE_URL=

OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=

CEREBRAS_API_KEY=
CEREBRAS_BASE_URL=